<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trucks and Packages</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    {% if session %}
        <nav>
            <ul>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </nav>
        <article>
            <section>
                <h1>User Info & JWT</h1>
                <p>
                    Below is your JWT token. To access the TrucksAndPackages API, enter the
                    following Bearer id_token into your Authorization header:
                </p>
                <p id="authorization-header">"<span id="bearer">Bearer</span> {{session.id_token}}"</p>
            </section>
            <section>
                <h1>Your Unique ID:</h1>
                <div class="preformatted">{{unique_id}}</div>
            </section>
        </article>
    {% else %}
        <nav>
            <ul>
                <li><a href="/auth/login">Login</a></li>
            </ul>
        </nav>
        <article>
            <section>
            <h1>Welcome!</h1>
                <p>
                    To use the TrucksAndPackages API, you'll first need to generate a JWT
                    token. The JWT token can then be used as a Bearer token in
                    your Authorization header to access the API.
                </p>
                <p>
                    To generate a personal JWT token, please
                    <a href="/auth/login">login</a> or
                    <a href="/auth/login">create an account</a>
                </p>
            </section>
        </article>
    {% endif %}
</body>
</html>